<% provide(:title, "List") %>

<div class="container">
  <div class="row margin-top-md margin-bottom-large">
    <div class="container-fluid center">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
          <div class="hero-photo-text center">
            <h1>My <i><%= @list.name %></i> list</h1>
            <p>I own <%= pluralize(@list.items.count, "item") %></p>
          </div>
        </div>
      </div> <!-- list title -->
      <div class="row margin-top-sm margin-bottom-sm">
        <div class="col-xs-4 col-md-4 col-lg-4">
          <input class="item-search" id="search-filter" placeholder="Search for an item" type="text"></input>
        </div> <!-- search filter -->
        <div class="col-xs-12 col-md-12 col-lg-6">
          <div class="button-group">
            FILTER BY: 
            <div class="inline">
              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">ACTIONS <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <% Item.actions.each do |action| %>
                 <li><a href="#" class="small" data-value="<%= action %>" tabIndex="-1"><input type="checkbox"/>&nbsp;<%= action %></a></li>
                <% end %>
              </ul>
            </div> <!-- actions filter -->
            <div class="inline">
              <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">CATEGORIES <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <% @list.items.map(&:category).uniq.each do |cat| %>
                 <li><a href="#" class="small" data-value="<%= cat %>" tabIndex="-1"><input type="checkbox"/>&nbsp;<%= cat %></a></li>
                <% end %>
              </ul>
            </div> <!-- categories filter -->
          </div>
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4"></div>
      </div> <!-- list details and filters -->
    </div>
  </div>
  <div class="row margin-top-lg margin-bottom-large">
    <div class="container-fluid">
      <div class="row">
        <% if @list.items.any? %> <!-- show the items if any -->
          <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-4">
            <ol class="main-list">
              <!--This definitely has some items
              <%= @list.items.first.name %>-->
              <%= render @items %>
            </ol>
            <%= will_paginate @items %>
          </div>
        <% else %>
          <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="center margin-bottom-sm">
              <h3>Nothing?</h3>
              <p>C'mon, you cannot be that minimalist.</p>
            </div>
          </div>
        <% end %>
        <div class="col-xs-12 col-md-10 col-lg-12">
            <div class="container">
              <%= render 'items/form', list: @list %>
            </div>
          </div>
        </div>
      </div> <!-- items section -->
    </div>
  </div>
  <div class="row margin-top-lg margin-bottom-large">
  </div>
</div>

