<% provide(:title, "List") %>

<div>
  <div class="hidden js-list-id">
    <%= @list.id %>
  </div>
  <div class="hidden js-current-user-id">
    <%= current_user.id %>
  </div>
  <div class="row margin-bottom-large">
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="row">
        <div class="col-xs-12">
          <h1>
          <input class="pointer list-title-input" id="js-list-name" value="<%= @list.name %>"></input>
          </h1>
        </div>
        <div class="col-xs-12">
          <div class="grey-text">
            I own <%= pluralize(@list.object_count, "item") %>
            <p>
            <% unless @list.object_count == 0 %>
              My goal is to own <%= @list.set_goal %> items
            <% end %>
            </p>
          </div>
        </div>
      </div>
    </div> <!-- title and goal -->

    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="row">
        <div class="col-xs-12">
          <div class="margin-top-large">
            <% if @list.items.any? %>
            <div class="right-align">
              <input class="item-search" id="search-filter" placeholder="Search for an item" type="text"></input>
            </div>
          <% end %>
          </div>
        </div> <!-- search -->
        <div class="col-xs-12 margin-top-px-xsm">
          <% if @list.items.any? %>
              <div class="button-group right-align">
                FILTER BY: 
                <!--<i class="fa fa-sliders" aria-hidden="true"></i>-->
                <div class="inline margin-left-sm">
                  <button type="button" class="btn btn-small btn-default btn-sm dropdown-toggle" data-toggle="dropdown">ACTIONS <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <% Item.actions.each do |action| %>
                     <li><a href="#" class="action-filter" data-value="<%= action %>" tabIndex="-1"><input type="checkbox"/>&nbsp;<%= action %></a></li>
                    <% end %>
                  </ul>
                </div> <!-- actions filter -->

                <div class="inline">
                  <button type="button" class="btn btn-small btn-default btn-sm dropdown-toggle" data-toggle="dropdown">CATEGORIES <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <% @list.items.map(&:category).uniq.each do |cat| %>
                     <li><a href="#" class="category-filter" data-value="<%= cat %>" tabIndex="-1"><input type="checkbox"/>&nbsp;<%= cat %></a></li>
                    <% end %>
                  </ul>
                </div> <!-- categories filter -->
              </div>
            <% end %>
        </div> <!-- filter -->
      </div>
    </div> <!-- search and filter -->
  </div>

  <div class="row margin-bottom-large">
    <% if @list.items.any? %> <!-- show items  -->
       <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="list-thumbnail center margin-bottom-md">
          <i class="fa fa-thumbs-o-up fa-3x" aria-hidden="true"></i>
        </div>
        <ol class="main-list">
          <%= render @list.items.keep %>
        </ol>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="list-thumbnail center margin-bottom-md">
          <i class="fa fa-thumbs-o-down fa-3x" aria-hidden="true"></i>
        </div>
        <ol class="main-list">
          <%= render @list.items.discard %>
        </ol>
      </div>
    <% else %> <!-- no items -->
      <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="center margin-bottom-sm">
          <h1>Nothing?</h1>
          <h2>At all?</h2>
          <p>C'mon, you cannot be <i>that</i> minimalist.</p>
        </div>
      </div>
    <% end %>
    <div class="col-xs-12 center">
      <div class="js-button-create-item">
        <div class="margin-top-large">
          <h3 class="soft">Add an item</h3>
          <span class="js-toggle-create-item pointer">
            <i class="fa fa-plus-circle fa-2x color-circle" aria-hidden="true"></i>
          </span>
        </div>
      </div>
      <div class="js-create-item-banner">
        <%= render 'items/form', list: @list %>
      </div>
    </div> <!-- create items -->
  </div>

</div>

