<div class="hero-photo-landing" style="background-image: url(<%= asset_path 'tu-tu-322210.jpg' %>)">
</div>
<div class="hero-overlay plxl">
  <div class="logo-landing">MinimaLists</div>
  <h1>What do I own?</h1>
</div>
<div class="m-create-list-bar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <div class="center">
          <% if (!user_signed_in?) %>
            <%= link_to "Get started", new_list_path, class: "btn btn-landing" %>
            <h3>Or <%= link_to "sign in", '/users/sign_in' %> if you already have an account</h3>
          <% else %>
            <%= link_to "My Lists", lists_path, class: "btn btn-landing" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <div class="center landing">
          <h2 class="margin-bottom-md">MinimaLists helps you reach spareness and simplicity.</h2>
          <p class="landing margin-bottom-md">By listing your possessions, you reach an awareness of how much you own. You can then start letting go and getting rid of stuff.</p>
          <p class="landing margin-bottom-large">What you do with the extra (mind) space is up to you.</p>
          <%= link_to "Learn More", learn_more_path, class: "btn btn-landing" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="light-grey-banner">
  <div class="container">
    <div class="row center">
      <h1 class="border-landing">OWN LESS</h1>
    </div>
  </div>
</div> 


