<% provide(:title, "Learn More") %>

<div class="banner-light pbl">
  <h1>How It Works</h1>
  <h3 class="light-text-color">Learn what MinimaLists can do for you.</h3>
</div>

<div class=" margin-bottom-large pbl">
  <div class="hero-photo-container">
    <div class="row">

      <div class="pointer js-toggle-learn-more-list">
        <div class="przero col-xs-12 col-md-4 col-lg-4">
          <div class="hero-photo-section" style="background-image: url(<%= asset_path 'oscar-nilsson-1860.jpg' %>) ">
            <div class="container-fluid center margin-top-large margin-bottom-large">
              <div class="hero-photo-text-background">
                <h1>Less clutter</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pointer js-toggle-learn-more-goal">
        <div class="plzero przero col-xs-12 col-md-4 col-lg-4">
          <div class="hero-photo-section" style="background-image: url(<%= asset_path 'todd-quackenbush-701.jpg' %>) ">
            <div class="container-fluid center margin-top-large margin-bottom-large">
              <div class="hero-photo-text-background">
                <h1>Reachable goals</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pointer js-toggle-learn-more-brain">
        <div class="plzero col-xs-12 col-md-4 col-lg-4">
          <div class="hero-photo-section" style="background-image: url(<%= asset_path 'priscilla-du-preez-363213.jpg' %>) ">
            <div class="container-fluid center margin-top-large margin-bottom-large">
              <div class="hero-photo-text-background">
                <h1>More brain space</h1>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="js-learn-more-list">
    <div class="row pll pbl">
      <div class="margin-top-large margin-bottom-large">
        <div class="col-xs-12 col-md-6">
          <h1>List all your possessions!</h1>
          <h2 class="light-text-color">How</h2>
          <p class="description">Three simple steps:
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-check checklist"></i><p class="description">Create a list<p></li>
              <li><i class="fa-li fa fa-check checklist"></i><p class="description">Add items to the list</p></li>
              <li><i class="fa-li fa fa-check checklist"></i><p class="description">Decide whether you want to keep, discard, donate, or sell your item</p></li>
            </ul>
            </p>
            <h2 class="light-text-color">It gets better</h2>
            <p class="description">You can create more lists to get a real sense of what you own.</p>
            <p class="description">Make sure to update the lists and their items as you buy more stuff or get rid of some.</p>
            <h2 class="light-text-color">The result?</h2>
            <p class="description">Lists help you organize your stuff, lists are a visualization tool, and more importantly, lists are fun!</p>
        </div>
        <div class="col-xs-12 col-md-6 margin-top-large margin-bottom-large">
          <div class="thumbnail-photo-section photo-box-shadow" style="background-image: url(<%= asset_path 'placeholder_minimalists.jpg' %>) "></div>
        </div>
      </div>
    </div>
  </div>

  <div class="js-learn-more-goal">
    <div class="row pll pbl">
      <div class="margin-top-large margin-bottom-large">
        <div class="col-xs-12 col-md-6">
          <h1>Track your goals!</h1>
          <h2 class="light-text-color">How</h2>
          <p class="description">One single step:</p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-check checklist"></i><p class="description">Create a goal for the total of items you want to own<p></li>
          </ul>
          <p class="description">Think of this number as the total number of items you'd like to own. Many choose 100, but that may not be the best place to start. You want your goal to be realistic.</p>
          <h2 class="light-text-color">It gets better</h2>
          <p class="description">Each list has its own goal, determined by the number of items you wish to discard.</p>
          <p class="description">You can track your overall goal and the goals of each lists on this page.</p>
          <h2 class="light-text-color">The result?</h2>
          <p class="description">Everytime you get rid of an item and update your lists, you get closer to your goal!</p>
        </div>
        <div class="col-xs-12 col-md-6 margin-top-large margin-bottom-large">
          <div class="thumbnail-photo-section photo-box-shadow" style="background-image: url(<%= asset_path 'placeholder_minimalists.jpg' %>) "></div>
        </div>
      </div>
    </div>
  </div>

  <div class="js-learn-more-brain">
    <div class="row pll pbl">
      <div class="margin-top-large margin-bottom-large">
        <div class="col-xs-12 col-md-6">
          <h1>Free up some brain space!</h1>
          <h2 class="light-text-color">How</h2>
          <p class="description">Three simple acts:</p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-check checklist"></i><p class="description">Know what you own<p></li>
            <li><i class="fa-li fa fa-check checklist"></i><p class="description">Get rid of the useless<p></li>
            <li><i class="fa-li fa fa-check checklist"></i><p class="description">Embrace a simpler lifestyle<p></li>
          </ul>
          <p class="description">Reducing the amount of items one owns helps free the brain and its memory for other - arguably more important - tasks.</p>
          <h2 class="light-text-color">It gets better</h2>
          <p class="description">The more you focus on getting rid of the superfluous, the more you will want lasting, good, and sustainable possessions. The good you do to yourself is also doing good around you.</p>
          <h2 class="light-text-color">The result?</h2>
          <p class="description">A happier you</p>
        </div>
        <div class="col-xs-12 col-md-6 margin-top-large margin-bottom-large">
          <div class="thumbnail-photo-section photo-box-shadow" style="background-image: url(<%= asset_path 'placeholder_minimalists.jpg' %>) "></div>
        </div>
      </div>
    </div>
  </div>

</div> <!-- margin for photo section -->
</div> <!-- closing default container -->

<div class="banner-dark banner pbl">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="definition">
          <h1 class="light-text pbs">Min·i·mal·ism</h1>
          <blockquote class="inline pbm">
          <p class="light-text inline">Minimalism is a tool that can assist you in finding freedom. Freedom from fear. Freedom from worry. Freedom from overwhelm. Freedom from guilt. Freedom from depression. Freedom from the trappings of the consumer culture we’ve built our lives around. Real freedom.</h3>
          </blockquote>
          <p class="light-text ptl">As defined by <a href="http://www.theminimalists.com/minimalism/">Joshua and Ryan</a></p> 
        </div>
      </div>
    </div>
  </div>
</div>

<div>

