<li id="item-<%= item.id %>" class="main-list-item margin-bottom-xsm">
    <div class="item-box">
      <div class="hidden-search-attribute hidden">
        <%= item.quantity %>
        <%= item.name %>
        <%= item.action %> 
        <%= item.category %>
      </div>
      <div class="hidden-filter-attribute hidden">
        <%= item.action %>,<%= item.category %>
      </div>

        <p class="inline plm"><%= item.quantity %> <%= item.name %></p> 

        <div class="inline pull-right aligner pts">
          <!-- ACTION --> 
          <div class="item-action-size inline center aligner-item">
            <div>
              <i class="fa fa-check-square-o" aria-hidden="true"></i>
            </div>
            <div class="item-attribute"><%= capitalize(item.action) %></div>
          </div>

          <!-- CATE --> 
          <div class="item-category-size inline center">
            <div>
              <i class="fa fa-folder-open-o" aria-hidden="true"></i>
            </div>
            <div class="item-attribute"><%= capitalize(item.category) %></div>
          </div>

          <!-- TRASH -->
          <div class="pull-right">
            <%= link_to edit_item_path(item.id) do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>
            <%= link_to item_path(item.id), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } do %>
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>


  </div>
</li>



