<li id="item-<%= item.id %>" class="main-list-item margin-bottom-sm">
  <div class="row">
    <div class="col-lg-1 right-align"><%= item.quantity %></div>
    <div class="col-lg-2"><%= item.name %>.</div>
    <div class="col-lg-2">I want to</div>
    <div class="col-lg-2"><%= item.action %></div>
    <div class="col-lg-3">this piece of</div>
    <div class="col-lg-2"><%= item.category %></div>
  </div>
</li>