<li id="item-<%= item.id %>" class="main-list-item margin-bottom-xsm">
  <div class="hidden-attribute">
    <%= item.name %> 
  </div>
  <div>
    <p><%= item.quantity %> <%= item.name %>. I'd like to <%= item.action %> this <%= item.category %> item.</p>
    <%= link_to edit_item_path(item.id) do %>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    <% end %>
    <%= link_to item_path(item.id), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } do %>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>
  </div>
</li>



