<li id="item-<%= item.id %>" class="main-list-item margin-bottom-xsm js-edit-item pointer" data-toggle="modal" data-target='#modal-window' data-target-id='<%= item.id %>'>
  <div class="item-box">

    <div class="hidden-search-attribute hidden">
      <%= item.quantity %>
      <%= item.name %>
      <%= item.action %> 
      <%= item.category %>
    </div>
    <div class="hidden-filter-attribute hidden">
      <%= item.action %>,<%= item.category %>
    </div>

      <p class="inline-block plm"><%= pluralize(item.quantity, item.name) %></p>

      <div class="inline-block pull-right aligner pts">
        <!-- ACTION --> 
        <div class="item-action-size inline-block center aligner-item pointer">
          <div>
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
          </div>
          <div class="item-attribute"><%= capitalize(item.action) %></div>
        </div>

        <!-- CATEGORY --> 
        <div class="item-category-size inline-block center pointer">
          <div>
            <i class="fa fa-folder-open-o" aria-hidden="true"></i>
          </div>
          <div class="item-attribute"><%= capitalize(item.category) %></div>
        </div>

        <!-- TRASH -->
        <div class="pull-right">
          <%= link_to item_path(item.id), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } do %>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    </div>
</li>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>


