<li id="item-<%= item.id %>">
  <div class="row">
    <div class="col-lg-2"><%= item.quantity %> </div>
    <div class="col-lg-2"><%= item.name %>.</div>
    <div class="col-lg-2">I want to </div>
    <div class="col-lg-2"><%= item.action %></div>
    <div class="col-lg-2"> this piece of </div>
    <div class="col-lg-2"><%= item.category %></div>
  </div>
</li>