<!-- partial for list tile in goals -->
<div class="m-list-goal-box">
  <h4><%=list.capitalize %></h4>
  <div class="c100 p<%= list.percent_success %> center small">
    <span><%= list.percent_success %>%</span>
    <div class="slice">
      <div class="bar"></div>
      <div class="fill"></div>
    </div>
  </div>
  <h4 class="inline "><%= list.object_count %> items</h4>
  <h4 class="inline separator center">Goal: <%= list.goal %></h4>
</div>

