<% provide(:title, "Goals") %>
<p id="notice"><%= notice %></p>

<div class="container margin-bottom-large">
  <div class="container">
    <% if Goal.where(:user_id => current_user.id).empty? %> <!-- display create goal -->
      <div class="row">
        <div class="banner">
          <div class="js-no-goal-banner">
            <div class="center">
              <h1>You do not have a goal yet.</h1>
              <h3>How many items would you like to own?</h3>
              <div class="margin-top-md">
                <p class="soft">Add a goal</p>
                <span class="js-toggle-create pointer">
                  <i class="fa fa-plus-circle fa-2x color-circle" aria-hidden="true"></i>
                </span>
             </div>
            </div>
          </div> 
          <div class="js-create-goal-banner">
            <%= render 'form', goal: Goal.new %>
          </div>
        </div>
      </div> <!-- no goal banner -->
    <% else %> <!-- display goal if user has a goal -->
      <div class="hidden js-goal-id">
        <%= current_user.goal.id %>
      </div>
      <div class="hidden js-goal-length">
        <%= current_user.overall_goal.to_s.length %>
      </div>
      <div class="row">
        <div class="banner">
          <div class="row">
            <div class="center">
              <h1>My goal is to own 

                <input class="overall-goal no-spinners center" id="js-overall-goal" value="<%= current_user.overall_goal.nil? ? 0 : current_user.overall_goal %>" min="0" type="number"></input> 

                <%= pluralize_without_count(current_user.overall_goal.nil? ? 0 : current_user.overall_goal, "item", ".") %>
               </h1>
            </div>
          </div> <!-- title row -->
          <div class="row">
            <% percent = current_user.percent_success.to_i %>
            <div class="col-xs-12 col-md-12 col-lg-4 center ptm pbm">
              <div class="c100 p<%= percent %> center">
                <span><%= percent %>%</span>
                <div class="slice">
                  <div class="bar"></div>
                  <div class="fill"></div>
                </div>
              </div>
            </div> <!-- percentage goal --> 
            <div class="col-xs-12 col-md-12 col-lg-4 center ptm pbm">
              <div class="goals-number">
                <%= current_user.total_lists %>
              </div>
              <div class="goals-title">
                <%= pluralize_without_count(current_user.total_lists, 'list') %>    
              </div>
            </div> <!-- total lists --> 
            <div class="col-xs-12 col-md-12 col-lg-4 center ptm pbm">
              <!-- check if users has lists -->
              <div class="goals-number">
                <%= current_user.lists.empty? ? 0 : current_user.total_items %>
              </div>
              <div class="goals-title">
                <%= pluralize_without_count(current_user.lists.empty? ? 0 : current_user.total_items, 'item') %>
              </div>
            </div> <!-- total items -->
          </div> <!-- icons row -->
        </div>
      </div> <!-- goal banner -->
    <% end %> 
  </div> <!-- goals section --> 
  <div class="container">
    <div class="margin-bottom-large margin-top-md">
      <div class="row">
        <div class="col-12">
          <div class="section-header">
            <h4>My lists' goals</h4>
          </div>
        </div>
      </div>
      <% if current_user.lists.empty? %> <!-- no lists, show create list 
      option -->
        <div class="row margin-top-large margin-bottom-large">
          <div class="container-fluid center">
            <div class="row">
              <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
                <p class="create-list">Sadly, it looks like you don't have a list yet.</p>
                <div class="margin-top-md">
                  <p class="soft">Add a list</p>
                  <%= link_to new_list_path do %>
                    <i class="fa fa-plus-circle fa-2x color-circle" aria-hidden="true"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% else %> <!-- has some lists, show list tiles -->
        <!-- iterate through each list and create a tile for each of them -->
        <div class="row margin-top-large margin-bottom-large">
          <div class="container-fluid">
            <% current_user.lists.all.each_slice(3) do |three_lists| %>
              <div class="row"> <!-- 3 first lists -->
                <% three_lists.each do |list| %>
                  <div class="col-xs-12 col-md-12 col-lg-4">
                    <%= link_to list_path(list), class: "m-inherit-link" do %>
                      <%= render 'list', list: list %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div> <!-- list section -->
</div>


