<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @item_to_category.item_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item_to_category.category_id %>
</p>

<%= link_to 'Edit', edit_item_to_category_path(@item_to_category) %> |
<%= link_to 'Back', item_to_categories_path %>
